PORT=7000
APP_ENV=dev
APP_CONFIG_STORE=file
APP_CONFIG_DIR=/data/configs
# APP_SQLSERVER_JDBC_URL=jdbc:sqlserver://sql-host:1433;databaseName=configdb;encrypt=true;trustServerCertificate=true
# APP_SQLSERVER_USERNAME=sa
# APP_SQLSERVER_PASSWORD=change-me
